<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>欢迎使用貔貅,
    
    <p>
      你申请的验证码是 <%= @code %>.
    </p>
    <p>祝您拥有神奇的一天!</p>
  </body>
</html>